body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    background: #eeeeee;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    padding-bottom: 22px;
}

#myForm,
#resultContainer {
  transition: all .3s ease;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 30px 30px;

    max-width: 1200px;
    min-width: 480px;
    min-height: 250px;

    box-sizing: border-box;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.form__input-container {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
}

.form__input {
    width: 100%;
    height: 34px;
    margin: 18px 0;

    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;

    font-size: 2em;
    line-height: 1em;

    color: black;
    padding: 4px;
}

.form__input.error {
    border: 1px solid red;
}

.form__label {
    position: absolute;
    padding-left: 4px;

    transform: translate3d(0, 34px,0) scale(1);

    font-size: 2em;
    line-height: 1em;

    margin-bottom: 4px;
    color: black;

    cursor: text;

    transition: transform .4s cubic-bezier(.25,.8,.25,1),
    width .4s cubic-bezier(.25,.8,.25,1),
    -webkit-transform .4s cubic-bezier(.25,.8,.25,1),
    top .4s cubic-bezier(.25,.8,.25,1);
    transform-origin: left top;
    -webkit-font-smoothing: antialiased;
}

.form__label--focused {
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0) scale(.75);
}

.form__label--focused ~ input {
    border-bottom: 2px solid #ffcc00;
}

.form__submit {
    margin: 40px auto 0;
    text-transform: uppercase;
    padding: 10px 15px;
    background: transparent;

    font-weight: 700;
    border: 2px solid black;
}

.form__submit:hover {
    border: 2px solid #ffcc00;
    cursor: pointer;
    color: #ffcc00;
}

.form__submit:disabled {
    border: 2px solid #cecece;
    color: #cecece;
    cursor: not-allowed;
}

.form-processed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    color: black;
    font-size: 1.5em;
    text-align: center;
}

.form-processed.success {
    background-color: greenyellow;
    color: black;
}

.form-processed.error {
    background-color: orangered;
    color: white;
}

/*.form-processed.progress {
    background-color: yellow;
    color: black;
    min-height: 17px;
}*/

.settings {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.settings__form {
    display: none;
    margin-right: 70px;
}

.settings__form-radio {
    display: none;
}

.settings__form-label {
  position: relative;
    display: block;
    margin-bottom: 16px;
    font-size: 1.5em;

    cursor: pointer;
}

.settings__form-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;

  position: absolute;
  left: -32px;

  border: 2px solid black;
  border-radius: 50%;
}

.settings__form-radio:checked + .settings__form-label::before {
  background-color: #ffcc00;
}

.settings__fab {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    height: 50px;
    width: 50px;

    border-radius: 50%;
    border: none;
    background: url('../img/settings.svg') center center no-repeat;
    background-color: white;
    outline: none;

    cursor: pointer;
    transition: transform ease-in-out .4s;
}

.settings__fab--rotate {
    box-shadow: none;
    transform: rotate(270deg);
}
